<div class="side-header">
<div class="name">
<a href= "#">tom</a> 
</div>
<div class= "chat-create">
<a href="#">チャットを作成</a>
</div>
</div>
<div class= "room-bar">
<div class="room">
<div class="room-name">
<a href="#">荒川room</a>
</div>
</div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>

